<%- include('partes/header')%>
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <%- include('partes/navbar')%>
    <div class="container">
      <table class="table table-bordered">
        <header class="d-flex justify-content-between align-items-center">
          <h1>Cart</h1>
          
        </header>
        <thead>
            <td scope="col">No:</td>
            <td scope="col">Product Name</td>
            <td scope="col">Price</td>
            <td scope="col">Quantity</td>
            <td scope="col">Total</td>
            <td class="text-center" scope="col">Action</td>
 
        </thead>
        <tbody>
          <%   let sum=0  %> 
            <% for(let i=0;i<data.length;i++){ %>
             
            <tr>
                <td><%= i+1 %> </td>
                <td><%= data[i].name %> </td>
                <td><%= data[i].price %>$ </td>
                <form  method="post">
                  <td><input type="text" name="quantity" class="form-control" value="<%= data[i].quantity %>"> </td>
                  <td><%= data[i].price * data[i].quantity %>$ </td>
                <td class="links text-center">
                  <input type="hidden" name="total" value="<%=sum%>">
                  <input type="hidden" name="cartId" value="<%= data[i]._id %>">
                <input type="submit" value="Save" class="btn btn-success" formaction="/cart/<%= data[i]._id %>?_method=put">
                <input type="submit" value="Delete" class="btn btn-danger" formaction="/cart/<%= data[i]._id %>?_method=DELETE">
                </td>
                <%   sum+= data[i].price * data[i].quantity %> 
                </form>
            </tr>
           <div>
      
            
           </div>
            <% }; %>
           
        </tbody>
      </table>
     
        <form  method="post">
          <div class="d-flex justify-content-between align-items-center">
            <h3>
              Total : <%=sum%> $ 
            </h3>
          <div>
            <input type="hidden" name="total" value="<%=sum%>">
          <input type="submit" value="Order" class="btn btn-primary btn-lg" formaction="/cart/verify">
          <input type="submit" value="Delete all" class="btn btn-danger btn-lg" formaction="/cart/delete?_method=DELETE">
        </div>
        </form>
      
       
      </div>
    </div>
   

    <%- include('partes/footer')%>